WcfServiceClient/Connected Services/WcfServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Hosgeldiniz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HosgeldinizResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HosgeldinizResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeçersizKullanıcı">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GeçersizKullanıcıResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GeçersizKullanıcıResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FavorilereEklendi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FavorilereEklendiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FavorilereEklendiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ekleme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" type="xs:double" />
        <xs:element minOccurs="0" name="n2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eklemeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eklemeResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="silme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" type="xs:double" />
        <xs:element minOccurs="0" name="n2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="silmeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="silmeResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>